@import '~antd/es/style/themes/default.less';

.main {
  position: absolute;
  width: 500px;
  margin: 0 auto;
  padding: 85px 65px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  @media screen and (max-width: @screen-sm) {
    width: 95%;
    padding: 85px 25px;
  }

  .loginAvatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }
}
