.batchImportUsersContent .uploadingExcelRow {
  padding: 25px 0;
}
.batchImportUsersContent .uploadingExcelRow .uploadingExcel > div:nth-child(1) {
  padding: 15px 0;
  font-size: 16px;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.batchImportUsersContent .uploadingExcelRow .uploadingExcel > div:nth-child(2) {
  padding: 20px 0;
}
.batchImportUsersContent .uploadSuccessDiv {
  text-align: center;
  border-bottom: 1px dashed #dcdcdc;
}
.batchImportUsersContent .uploadSuccessDiv > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}
.batchImportUsersContent .uploadSuccessDiv > div:nth-child(1) > img {
  margin-right: 20px;
}
.batchImportUsersContent .uploadSuccessDiv > div:nth-child(1) > span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.batchImportUsersContent .uploadSuccessDiv > div:nth-child(2) {
  padding-bottom: 55px;
  font-size: 16px;
}
.batchImportUsersContent .uploadSuccessDiv > div:nth-child(2) span {
  font-weight: bold;
}
.batchImportUsersContent .uploadSuccessRow {
  padding: 45px 0;
}
.batchImportUsersContent .uploadSuccessRow .uploadSuccessPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.batchImportUsersContent .foonter_btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}
.batchImportUsersContent .foonter_btns :global .ant-btn {
  margin: 0 5px;
}
