.ArticleManagerContent .formContent {
  border-bottom: 1px dashed #dcdcdc;
}
.ArticleManagerContent .formContent :global .ant-form-item {
  margin-bottom: 24px;
}
.ArticleManagerContent .formContent :global .ant-form-item-with-help {
  margin-bottom: 5px;
}
.ArticleManagerContent .formContent :global .ant-upload-list-picture-card .ant-upload-list-item {
  float: left;
  width: 300px;
  height: 250px;
  margin: 0 8px 8px 0;
}
.ArticleManagerContent .tableContent {
  padding-bottom: 30px;
  border-bottom: 1px dashed #dcdcdc;
}
.ArticleManagerContent .searchContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.ArticleManagerContent .searchContent > div:nth-child(2) button {
  margin-left: 20px;
}
.ArticleManagerContent .foonter_btns {
  padding: 34px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ArticleManagerContent .foonter_btns :global .ant-btn {
  margin: 0 5px;
}
.ArticleManagerContent .editorStyle {
  border: 1px solid gray;
  border-radius: 5px;
}
.ArticleManagerContent .image {
  max-width: 600px;
}
