html,
body,
#root {
  height: 100%;
}
.colorWeak {
  filter: invert(80%);
}
.ant-layout {
  min-height: 100vh;
}
canvas {
  display: block;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}
ul,
ol {
  list-style: none;
}
.uploadContent .ant-upload.ant-upload-select {
  display: block;
}
.uploadContent .ant-upload.ant-upload-select .ant-btn {
  font-size: 20px;
  font-weight: 600;
  height: 70px;
}
.ant-btn-del {
  color: #fff;
  background-color: #8fc127;
  border-color: #8fc127;
}
.ant-btn-del:hover,
.ant-btn-del:active,
.ant-btn-del:focus {
  color: #fff;
  background: #a4dc2f;
  border-color: #a4dc2f;
}
.ant-btn-upload {
  color: #3c3c3c;
  background-color: #e5f3ff;
  border-color: #e5f3ff;
}
.ant-btn-upload:hover,
.ant-btn-upload:active,
.ant-btn-upload:focus {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
}
.tableRowClassNameErr {
  background: #fee8ea;
}
.tableRowClassNameWarn {
  background: #fff9e5;
}
