@import '~antd/es/style/themes/default.less';

.foonter_btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  :global {
    .ant-btn {
      margin: 0 5px;
    }
  }
}

@media screen and (min-width: @screen-sm) {
  .selfFormItem {
    display: flex;
    :global {
      .ant-form-item-label {
        width: auto;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }
    }
    &.selfFormItemPadding {
      padding-right: 30px;
    }
  }
  .teacherInfo {
    display: flex;
    .teacherInfoLeft {
      width: 124px;
      padding: 12px 0 0 12px;
    }
    .teacherInfoRight {
      flex: 1;
    }
  }
}
.spanTipsContent {
  position: absolute;
  right: 0;
  line-height: 1;
  color: #969696;
  bottom: 0;
  margin-bottom: -28px;
  span {
    color: #f5222d;
  }
}
